/* responsive for mobile devices */
@media screen and (max-width:600px) {
    nav>ul {
        display: none;
    }

    /* mobile menu styles */
    .menu-icon,
    .mobile-menu {
        display: block;
        width: 28px;
        height: 28px;
    }

    /* header styles */
    header {
        margin-top: 5%;
        width: 100%;
        padding: 15px;
    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        gap: 8px;
    }

    nav .logo .icon .logo-icon,
    .footer-logo .logo .icon .logo-icon {
        width: 2.5rem;
        height: 2.4rem;
    }

    .nav-title {
        font-size: 1.75rem;
    }

    .banner-container {
        background-position: center;
        /* padding:10px; */
    }

    .banner-title {
        font-size: 1.4rem;

    }

    .banner-description {
        width: 100%;
        margin-top: 12px;
    }

    .banner-container .input-field {
        margin-top: 12px;
        min-width: 300px;

    }

    .banner-container .input-field form {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }


    .input-field input,
    #place,
    .find-now-btn {
        min-width: 255px;
    }

    /* popular tour section styles */
    main {
        width: 100%;
        padding: 15px;
    }

    .popular-tour-section {
        flex-direction: column;
        gap: 25px;
        width: 100%;
        margin-top: 25px;
    }

    .popular-texts .popular-title {
        font-size: 2rem;
    }

    .popular-img img {
        width: 100%;
    }

    /* luxury hotel section styles */
    .luxury-hotel-container {
        width: 100%;
        margin: 25px auto 0;
    }

    .luxury-img-container {
        grid-template-columns: 1fr;
    }

    .luxury-texts .luxury-title {
        font-size: 2rem;
    }

    /* destination section styles */
    .destination-section {
        width: 100%;
        margin: 25px auto 0;
    }

    .destination-title {
        font-size: 2rem;
    }

    .maldive,
    .indonesia,
    .srilanka,
    .america,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: 1 /span 12;
    }

    .destination-img-container h3 {
        font-size: var(--font-size-20);
    }

    /* why choose us section styles */
    .why-choose-section {
        width: 100%;
        margin: 25px auto 0;
    }

    .choose-texts .choose-title {
        font-size: 2rem;
    }

    /* deals and discount section styles */
    .discount-section {
        width: 100%;
        margin: 25px auto 0;
    }

    .discount-img-container {
        justify-content: center;
        align-items: end;
        border-radius: 16px;
        padding: 0 16px 16px;
    }

    .discount-card {
        margin: 0;
        padding: 24px;
    }

    .discount-deadline {
        flex-direction: column;
        align-items: flex-start;
    }

    .discount-card-title {
        margin-top: 15px;
    }

    .deal-description {
        margin: 15px 0;
    }

    .deal-price {
        margin-bottom: 20px;
    }

    /* get lost section styles */
    .get-lost-container {
        flex-direction: column;
        margin: 25px auto 0;
    }

    .get-lost-texts .get-lost-title {
        font-size: 1.7rem;
        line-height: 45px;
    }

    .video-container h4 {
        font-size: 0.8rem;
        /* top: 35%;
        left: 15%; */
    }


    /* newsletter section styles */
    .newsletter {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 25px auto;
    }

    .newsletter-img {
        width: 100%;
    }

    .newsletter-img img {
        width: 100%;
    }

    .newsletter-img .offer-card {
        /* width: 60%; */
        top: 51%;
        transform: translate(-98%, -10%) rotate(-30deg);
        padding: 4%;
    }

    .offer-card .offer-title {
        font-size: 1rem;
    }

    .offer-card .web-link {
        font-size: 0.8rem;
    }

    /* footer section styles */
    .footer-section {
        padding: 35px;
    }

    .footer-section hr {
        margin: 25px 0;
    }



}