/* responsive for mobile devices */
@media screen and (max-width:600px) {
    nav>ul {
        display: none;
    }

    /* mobile menu styles */
    .menu-icon,
    .mobile-menu {
        display: block;
        width: 25px;
        height: 25px;
    }

    /* header styles */
    header {
        margin-top: 5%;
        width: 100%;
        padding: 10px;
    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        gap: 8px;
    }

    nav .logo .icon .logo-icon {
        width: 35px;
    }

    .nav-title {
        font-size: var(--font-size-24);
    }

    .banner-container {
        background-position: center;
        /* padding:10px; */
    }

    .banner-title {
        font-size: 1.4rem;

    }

    .banner-description {
        width: 100%;
        margin-top: 12px;
    }

    .banner-container .input-field {
        margin-top: 12px;

    }

    .banner-container .input-field form {
        flex-direction: column;
        gap: 16px;
    }


    .input-field input,
    #place,
    .find-now-btn {
        max-width: 255px;
    }

    /* popular section styles */
    main {
        width: 100%;
        padding: 10px;
    }

    .popular-tour-section {
        flex-direction: column;
        gap: 25px;
        width: 100%;
        margin-top: 25px;
    }

    .popular-img img {
        width: 100%;
    }

    /* why choose us section styles */
    .why-choose-section{
        width:100%
    }


    /* newsletter section styles */
    .newsletter{
        width:100%;
        flex-direction: column;
        justify-content: center;
    }

    .newsletter-img{
        width:100%;
    }

    .newsletter-img img{
        width:100%;
    }

    .newsletter-img .offer-card{
        width:60%;
        right:0px;
        left:167px;
        bottom: 75px;
        padding: 15px;
    }

    .offer-card .offer-title{
        font-size: 1.25rem;
    }

    .offer-card .web-link{
        font-size:1rem;
    }




}